<!-- Hello {{ name }} you are {{ age }} years young 




{% set tt = 'tempval' %}


{% set templ1 %}
	<p><b>this is it</b>
		<span>that is</span>	
	</p>
{% endset %}



{% if age > 15 %}

<p>you are over 15</p>

{% endif %}



{% for user in users %}
	<p>{{ user.name }} {{ user.surname }}</p>
{%  endfor %}

{{ 'string' | md5 }}
<br>
{{ 'string' | upF }}
<br>
{{ 'string' | upF | md5 }}

{% filter upF %}
abcd aaa 
{% endfilter %}


<br>
{{ tt }}
<br>
{{ templ1 }}

{# set n = array('a'=>'ll','b'=>'ll') #}

{% set j = 0 %}
{% for i in range(0,3) %}
	{% set j = j +1 %}
	{{ i }} {{ j }}
	{{ include('sub.html') }}
{% endfor %}


-->



<p ng-show="code=='11'"> database mysqli view output t1</p>


{% for user in users %}
    <br>{{ user.id }} {{ user.name }} {{ user.surname }} {{ user.info }}
{% endfor %}




